/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Components */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/menu.css");
@import url("components/form.css");
@import url("gallery.css");

/* Variables */
:root {
	--background-color: #2b2b2b;
	--font-color: rgba(255, 255, 255, 0.87);
	--merak-gold: #a78049;
	--form-color: rgba(255, 255, 255, 0.6);
	--menu-speed: 0.75s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: 400 !important;
}

h5 {
	font-size: 1rem !important;
	margin-bottom: 0 !important;
}

body {
	background-color: #2b2b2b !important;
	font-family: "Roboto", sans-serif !important;
	color: var(--font-color) !important;
}

.line-gold {
	color: var(--merak-gold);
	width: 30%;
	margin: auto;
	opacity: 1;
}

.info {
	margin-top: 5px;
	padding: 0.5rem;
}

.info h1 {
	margin-top: 30px;
	font-size: 1.8rem;
	font-weight: 400;
}

.long-text {
	font-size: 1rem;
	margin-bottom: 4em;
	line-height: 30px;
	opacity: 1;
}

.event-info {
	font-size: var(--body-font-size);
	display: flex;
	justify-content: space-between;
	margin: 0 30px 15px 30px;
	width: 90%;
}

.section-header {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 1em 0;
}

iframe {
	border-style: none;
	width: 320px;
	height: 180px;
	display: block;
	margin: 20px auto;
}

#logo {
	width: 3.5rem;
	height: auto;
	margin: 1em auto;
	display: block;
}

.title {
	margin-top: 3.5rem;
}

.img-artist {
	width: 100%;
}

#instrument {
	color: var(--merak-gold);
}

.artist-content {
	font-size: 1.1rem;
}


#back-arrow {
	position: relative;
	left: 63px;
	top: 20px;
	font-size: 1.4rem;
	color: var(--merak-gold);
	transition: top 0.4s;
}

#banner-logo {
	width: 56%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 22%
}


@media screen and (min-width: 650px) {
	.info {
		max-width: 650px;
		margin: 0 auto;
	}

	.event-container {
		max-width: 500px;
		margin: 0 auto;
	}
	#back-arrow {
		display: none;
	}

	#logo {
		width: 6.5em
	}
}



@media screen and (min-width: 992px) {
	.video-container {
		display: flex;
		justify-content: center;
		margin-bottom: 1em;
	}

	iframe {
		margin: 0 1em;
		width: 486px;
		height: 245px;
	}

	#logo {
		width: 8.5em
	}
	
}

@media screen and (min-width: 1200px) {
	iframe {
		height: 262px;
		margin: 0 3em;
	}

	.event-info {
		font-size: 1em;
	}
}

@media screen and (min-width: 1400px) {
	iframe {
		height: 275px;
		margin: 0 3em;
	}

	.gallery {
		max-width: 1070px;
		margin: 0 auto;
	}

	.contact {
		max-width: 1070px;
		margin: 0 auto;
	}
}

/* Hide events section until there is more concerts */
.events {
	display: none;
}
