/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Components */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/menu.css");
@import url("components/form.css");
@import url("gallery.css");

/* Variables */
:root {
	--background-color: #2b2b2b;
	--font-color: rgba(255, 255, 255, 0.87);
	--merak-gold: #a78049;
	--form-color: rgba(255, 255, 255, 0.6);
	--menu-speed: 0.75s;
	--body-font-size: 0.8rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: 400 !important;
}

body {
	background-color: #2b2b2b !important;
	font-family: "Roboto", sans-serif !important;
	color: var(--font-color) !important;
}

.container {
	width: 90% !important;
}

.line-gold {
	color: var(--merak-gold);
	width: 30%;
	margin: auto;
	opacity: 1;
}

.info {
	margin-top: 5px;
	padding: 0.5rem;
}

.info h1 {
	margin-top: 30px;
	font-size: 1.8rem;
	font-weight: 400;
}

.long-text {
	font-size: var(--body-font-size);
	margin-bottom: 50px;
	line-height: 30px;
	opacity: 1;
}

.event-info {
	font-size: var(--body-font-size);
	display: flex;
	justify-content: space-between;
	margin: 0 30px 15px 30px;
	width: 90%;
}

.section-header {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 50px 0 30px 0;
}

iframe {
	border-style: none;
	width: 320px;
	height: 180px;
	display: block;
	margin: 20px auto;
}

#logo {
	width: 3.5rem;
	height: auto;
	margin: 0 auto;
	display: block;
}

.title {
	margin-top: 3.5rem;
}

.img-artist {
	width: 100%;
}

#instrument {
	color: var(--merak-gold);
}

.artist-content {
	font-size: var(--body-font-size);
}

h5 {
	font-size: 1rem !important;
	margin-bottom: 0 !important;
}

#back-arrow {
	position: relative;
	left: 63px;
	top: 20px;
	font-size: 1.4rem;
	color: var(--merak-gold);
	transition: top 0.4s;
}

#home-logo {
	height: 24px;
	position: relative;
	top: 16px;
	left: 324px;
}

@media screen and (min-width: 650px) {
	.info {
		max-width: 650px;
		margin: 0 auto;
	}
}
