/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Components */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/menu.css");
@import url("components/form.css");
@import url("gallery.css");
@import url("about.css");
@import url("animations.css");

/* Variables */
:root {
	--background-color: #2b2b2b;
	--font-color: rgba(255, 255, 255, 0.87);
	--merak-gold: #a78049;
	--form-color: rgba(255, 255, 255, 0.6);
	--menu-speed: 0.75s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2b2b2b !important;
	font-family: "Roboto", sans-serif !important;
	color: var(--font-color) !important;
	overscroll-behavior: none;
}

/* Typography */
h1 {
	font-weight: 400 !important;
}

h5 {
	font-size: 1rem !important;
	margin-bottom: 0 !important;
}

.line-gold {
	color: var(--merak-gold);
	width: 30%;
	margin: 4em auto;
	opacity: 1;
}

.info {
	margin-top: 5px;
	padding: 0.5em;
}

.info h1 {
	margin-top: 2em;
	font-size: 1.8rem;
	font-weight: 400;
}

.long-text {
	font-size: 1.1rem;
	margin: 0;
	line-height: 1.75em;
	opacity: 1;
}

.section-header {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 1em 0;
}

.video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

iframe {
	border-style: none;
	height: 200px;
	width: 100%;
	display: block;
	margin: 1.25em auto;
}

#logo {
	width: 3.5rem;
	height: auto;
	margin: 1em auto;
	display: block;
}

.title {
	margin-top: 3.5rem;
}

#banner-logo {
	width: 56%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 22%;
}

@media screen and (min-width: 576px) {
	.info {
		max-width: 650px;
		margin: 0 auto;
	}

	.event-container {
		max-width: 500px;
		margin: 0 auto;
	}

	#logo {
		width: 6.5em;
	}
}

@media screen and (min-width: 992px) {
	.video-container {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;
	}

	#logo {
		width: 8.5em;
		margin-top: 5em;
	}
}

@media screen and (min-width: 1200px) {
	.event-info {
		font-size: 1em;
	}
}

@media screen and (min-width: 1400px) {
	.gallery {
		max-width: 1070px;
		margin: 0 auto;
	}

	.contact {
		max-width: 1070px;
		margin: 0 auto;
	}
}

/* Events */
.year {
	text-decoration: underline;
	cursor: pointer;
}

.fa-caret-right,
.fa-caret-down {
	transition: all 250ms;
}

.cw-90 {
	transform: rotate(90deg);
}

.cw-90-reverse {
	transform: rotate(-90deg);
}

#contact-container {
	min-height: 100%;
}

.text-center {
	margin-bottom: 1em;
}

#pdfViewer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin-left: 0;
}

#pdf-viewer {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	overflow: auto;
}

.pdf-page-canvas {
	display: block;
	margin: 5px auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.pdf-page-canvas:first-child {
	margin: 0 auto;
}

@media screen and (max-width: 480px) {

	/* bootstrap img-fluid for pdf responsiveness */
	.pdf-page-canvas {
		height: auto;
		max-width: 100%;
	}
}

.event-info {
	font-size: var(--body-font-size);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 30px 15px 30px;
	width: 90%;
}

.event-info.past {
	color: gray;
}

.city.past {
	color: gray;
}

.line-through {
	text-decoration: line-through;
}