.banner {
	background-size: cover;
  background-position: center;
	width: 100vw;
	padding: 8em;
	background-image: url(../../images/banner.jpg)
}

@media screen and (min-width: 768px) {
	.banner {
		padding: 12em;
		background-position: top -67px center;
	}
}

@media screen and (min-width: 1200px) {
	.banner {
		padding: 14em;
		background-position: top -100px center;
	}
}

@media screen and (min-width: 1600px) {
	.banner {
		padding: 16em;
		background-position: top -136px center;
	}
}

@media screen and (min-width: 1800px) {
	.banner {
		padding: 24em;
		background-position: top -165px center;
	}
}

@media screen and (min-width: 2100px) {
	.banner {
		padding: 18em;
		background-position: top -220px center;
	}
}