.banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 11em;
	margin-bottom: -0.5em;
	background-image: url(../../images/header-600.jpg);
}

@media screen and (max-width: 360px) {
	.banner {
		padding: 9em;
	}
}

@media screen and (min-width: 480px) {
	.banner {
		padding: 12em;
	}
}

@media screen and (min-width: 575px) {
	.banner {
		background-position: top -50px center;
		padding: 15em;
		margin-bottom: -3.5em;
	}
}

@media screen and (min-width: 650px) {
	.banner {
		background-position: top -65px center;
		padding: 17em;
		margin-bottom: -3.5em;
	}
}

@media screen and (min-width: 768px) {
	.banner {
		background-position: top -52px center;
		padding: 18em;
		margin-bottom: -3.5em;
	}
}

@media screen and (min-width: 700px) and (min-height: 1024px) {
	.banner {
		background-position: top -64px center;
		padding: 20em;
		background-image: url(../../images/header-900.jpg);
		margin-bottom: -2.5em;
	}
}

@media screen and (min-width: 900px) {
	.banner {
		background-position: top 6px center;
		padding: 13em;
		margin-bottom: -2.5em;
		background-image: url(../../images/header-FINAL-900.jpg);
	}
}

/* @media screen and (min-width: 990px) {
	.banner {
		background-position: top 6px center;
		padding: 13em;
		margin-bottom: -2.5em;
		background-image: url(../../images/header-FINAL.jpg);
	}
} */

@media screen and (min-width: 991px) and (max-width: 1199px) {
	.banner {
		background-position: top 6px center;
		padding: 15em;
		margin-bottom: -2.5em;
		background-image: url(../../images/header-FINAL-900.jpg);
	}
}

@media screen and (min-width: 1200px) {
	.banner {
		background-position: top 5px center;
		padding: 16em;
		margin-bottom: -2.5em;
		background-image: url(../../images/header-FINAL-1400.jpg);
	}
}

@media screen and (min-width: 1300px) and (max-width: 1399px) {
	.banner {
		background-position: top 6px center;
		padding: 17em;
		margin-bottom: -0.5em;
		background-image: url(../../images/header-FINAL-1400.jpg);
	}
}

@media screen and (min-width: 1400px) {
	.banner {
		background-position: top 5px center;
		padding: 16em;
		margin-bottom: 0.5em;
		background-image: url(../../images/header-FINAL-1400.jpg);
	}

	.banner-container {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1800px) {
	.banner {
		background-position: top 5px center;
		padding: 21em;
		margin-bottom: -2.5em;
		background-image: url(../../images/header-FINAL-1900.jpg);
	}

	.banner-container {
		width: 85%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 2400px) {
	.banner {
		background-position: top 5px center;
		padding: 20em;
		margin-bottom: 1em;
	}

	.banner-container {
		width: 65%;
		margin: 0 auto;
	}
}