.btn-gold {
	background-color: var(--merak-gold);
	padding: 1.25em 0.75em;
	color: #ffffff;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 1.25px;
	text-decoration: none;
	text-align: center;
	line-height: 1px;
	height: 22px;
}

.btn-gold:hover {
	color: #212529 !important;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

.btn-gold.long {
	width: 120px;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}

/* Overwrite bootstrap form button */
.btn.btn-gold {
	background-color: var(--merak-gold);
	padding: 18px;
	color: #ffffff;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 1.25px;
	text-decoration: none;
	text-align: center;
	line-height: 13px;
}
.button-holder {
	text-align: center;
}

#form-send {
	line-height: 0.125em;
}

@media screen and (min-width: 900px) {
	.btn-gold {
		padding: 1.125em;
		line-height: 1px;
		height: 0;
		font-size: 1em;
	}

	.btn-gold.long {
		width: 185px;
	}

	.event-info {
		font-size: 1.5rem;
	}

	.events {
		max-width: 580px;
		margin: 0 auto;
	}
}
.event-info {
	align-items: center;
}
