/* Events */
/* .date {
	border: 1px solid var(--merak-gold);
	height: 4rem;
	width: 4rem;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	margin-right: 1rem;
} */

/* #day,
#month {
	margin: 0;
	position: relative;
}

#month {
	top: -8px;
}

#day {
	top: 8px;
} */

/* .city,
.hall {
	position: relative;
	right: 30px;
} */

/* .city {
	color: var(--merak-gold);
	margin: 0;
	font-size: bold;
} */

/* .hall {
	font-weight: thin;
	margin: 0;
	font-style: italic;
} */

/* .venue-container {
	display: flex;
	align-items: center;
} */