form {
	margin-bottom: 300px;
}

.form-floating {
  color: var(--form-color) !important;
}

.form-control {
	color: var(--font-color) !important;
	border: 1px solid var(--form-color) !important;
	background-color: var(--background-color) !important;
}


.form-control:focus {
  border-color: #a78049 !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #a78049 !important;
}

/* Pageclip */
.pageclip-form__success {

	background: hsla(0,0%,0%, 0.50);
}